
<!-- CALENDAR -->
<div style="text-align: center; ">
  <h3 style="font-size: 18px; color: #333; ">Seleziona una data</h3>
  <div style="display: flex; justify-content: center; margin-top: 10px;">
    <ion-datetime picker-format="YYYY-MM-DD" presentation="date"
      (ionChange)="onDateChange($event)" [isDateEnabled]="isWeekday" [(ngModel)]="prenotazioneService.formattedSelectedDate">
    </ion-datetime>
  </div>
</div>
<!-- TIMEGRID -->
<div style="text-align: center;">
  <h3 style="font-size: 18px; color: #333; margin-bottom: 10px;">Seleziona un orario</h3></div>
  @if (timeGridError){
Non sono stati trovati orari disponibili per questa giornata
 }

@if (loadedTimeGrid) {
  <swiper-container class="time-swiper" #timeSwiper [slidesPerView]="2.5" >
    @for (time of timeGrid; track time.start_time;let i= $index) {
      <swiper-slide class="swiper-slide" >
        <ion-card
          (click)="onTimeSelect(time.start_time, i)"
          [class.selected]="time.start_time === this.prenotazioneService.selectedTime"
          [ngStyle]="{ 'text-decoration': time.free === 'N' ? 'line-through' : 'none' }"
          [disabled]="time.free === 'N'"
          class="time-card"
          >
          <ion-card-header>
            <ion-card-title style="font-size: 16px;">{{ time.start_time }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </swiper-slide>
    }
  </swiper-container>
} @else {
  <!-- LOADER -->
  <div style="display: flex; justify-content: center;">
    <ion-spinner></ion-spinner>
  </div>
}