<!-- SECONDA SEZIONE FORM -->
<p style="text-align: center;">Seleziona una tra le fasce orarie disponibili per fissare un incontro.</p>
<!-- CALENDAR -->
<div class="justify-content-center" [formGroup]="formGroup"><ion-datetime picker-format="YYYY-MM-DD" presentation="date"
    (ionChange)="onDateChange($event)" [isDateEnabled]="isWeekday" formControlName="start_date"></ion-datetime>
</div>
<!-- TIMEGRID -->
@if (loadedTimeGrid){
<ion-list >
  <ion-radio-group [(ngModel)]="selectedTime" style="display: flex; flex-wrap: wrap; justify-content: center;" (ionChange)="onTimeSelect($event)">
    @for (time of timeGrid; track $index) {
    <ion-item style="width: 45%; margin-right: auto; ">
      <ion-radio [ngStyle]="{ 'text-decoration': time.free === 'N' ? 'line-through' : 'none' }" [disabled]="time.free === 'N'" [value]="time.start_time">{{ time.start_time}}</ion-radio>
    </ion-item>
    }
  </ion-radio-group>
</ion-list>
}@else {
<!-- LOADER -->
<div style="display: flex; justify-content: center;"><ion-spinner></ion-spinner></div>
}