<!-- LOGO -->
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 15px; flex-shrink: 1;">
  <ion-img class="theme-image" src="assets/logo-daibarber-black.png" alt="Logo"
    style="width: 150px; height: auto; margin-bottom: 20px; background-color: transparent;"></ion-img>
  <ion-img class="theme-image-dark" src="assets/logo-daibarber-white.png" alt="Logo"
    style="width: 150px; height: auto; margin-bottom: 20px; background-color: transparent;"></ion-img>
  <p style="margin-left: 20px; margin-right: 20px;">Investi il giusto tempo per prenderti cura di te stesso</p>
</div>
<!-- PRIMA SEZIONE FORM -->
<ion-list class="mt6" [formGroup]="formGroup">
  <ion-item>
    <ion-select placeholder="Seleziona un servizio" formControlName="service_id">
      <ion-select-option value=1>Taglio</ion-select-option>
      <ion-select-option value=2>Barba</ion-select-option>
      <ion-select-option value=3>Shampoo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list class="mt6" [formGroup]="formGroup">
  <ion-item>
    <ion-select placeholder="Seleziona un parrucchiere" formControlName="staff_id">
      <ion-select-option value="3">Vincenzo Daì</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>