<!-- LOGO 
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; flex-shrink: 1;">
  <ion-img class="theme-image" src="assets/logo-daibarber-black.png" alt="Logo"
    style="width: 120px; height: auto; margin-bottom: 20px;"></ion-img>
  <ion-img class="theme-image-dark" src="assets/logo-daibarber-white.png" alt="Logo"
    style="width: 120px; height: auto; margin-bottom: 20px;"></ion-img>
  <p style="margin-left: 20px; margin-right: 20px; margin-top:-10px; font-size: 12px; text-align: center; color: lightgray;">
    Investi il giusto tempo per prenderti cura di te stesso
  </p>
</div>-->

<!-- SEZIONE SELEZIONE SERVIZIO -->
<h3 style="text-align: center;" >Servizi</h3>
<ion-list  [formGroup]="formGroup">
  <ion-item lines="none">
    <div class="card-container">
      <ion-card
        *ngFor="let service of services"
        (click)="onServiceSelect(service.id)"
        [class.selected]="service.id === this.prenotazioneService.prenotazione.service_id"
        class="service-card"
      >
        <ion-card-header>
          <ion-card-title class="service-title">
            <ion-icon name="cut-outline"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <p style="color: #737373; margin-top: -12px; text-align: center;">{{ service.name }}</p>
        <p style="color: #737373; margin-top: -14px; text-align: center;">{{ service.price }}</p>
      </ion-card>
    </div>
  </ion-item>
</ion-list>

<!-- SEZIONE SELEZIONE PARRUCCHIERE
<ion-list class="mt6" [formGroup]="formGroup">
  <ion-item class="barber-select" >
    <ion-label>Seleziona un parrucchiere</ion-label>
    <ion-select placeholder="Seleziona un parrucchiere" formControlName="staff_id" class="barber-select">
      <ion-select-option value="3">Vincenzo Daì</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->

<h3 style="text-align: center;" >Il tuo barbiere</h3>
<ion-list  [formGroup]="formGroup">
  <ion-item lines="none">
    <div class="card-container">
      <ion-card
        *ngFor="let barber of barbers"
        (click)="onBarberSelect(barber.id)"
        [class.selected]="barber.id === this.prenotazioneService.prenotazione.staff_id"
        class="service-card"
      >
        <ion-card-header>
          <ion-card-title class="service-title">
            <ion-icon name="person"></ion-icon>
          </ion-card-title>
        </ion-card-header>
<p style="color: #737373; margin-top: -14px; text-align: center;">{{ barber.name }}</p>
      </ion-card>
    </div>
  </ion-item>
</ion-list>