/* Nascondi l'immagine per la modalità scura per default */
.theme-image-dark {
  display: none;
}

.card-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.service-card{
  height: 90px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-title{
  font-size: 16px;

}

.service-card {
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.service-card.selected {
  border-color: var(--ion-color-danger);
}


.barber-select{
  display: flex;
  flex-direction: column;
}
ion-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

ion-card.selected {
  border: 2px solid var(--ion-color-danger);
  transform: scale(1.05);
}

/* Quando la modalità scura è attiva */
@media (prefers-color-scheme: dark) {
  .theme-image {
    display: none;
  }

  .theme-image-dark {
    display: block;
  }
}

