<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Prenota il tuo appuntamento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form action="" [formGroup]="prenotazioneForm" (ngSubmit)="submitAppointment()">

    @if(currentSection === 1){
    <!-- LOGO -->
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 15px; flex-shrink: 1;">
      <ion-img src="assets/logo-daibarber-black.png" alt="Logo"
        style="width: 150px; height: auto; margin-bottom: 20px; background-color: transparent;"></ion-img>
      <p style="margin-left: 20px; margin-right: 20px;">Investi il giusto tempo per prenderti cura di te stesso</p>
    </div>

    <!-- PRIMA SEZIONE FORM -->
    <ion-list class="mt6">
      <ion-item>
        <ion-select placeholder="Seleziona un servizio" formControlName="service_id">
          <ion-select-option value="1">Taglio</ion-select-option>
          <ion-select-option value="2">Barba</ion-select-option>
          <ion-select-option value="3">Shampoo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="mt6">
      <ion-item>
        <ion-select placeholder="Seleziona un parrucchiere" formControlName="staff_id">
          <ion-select-option value="3">Vincenzo Daì</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    }@else if (currentSection === 2) {

    <p style="text-align: center;">Seleziona una tra le fasce orarie disponibili per fissare un incontro.</p>
    <div class="justify-content-center"><ion-datetime picker-format="YYYY-MM-DD" presentation="date"
        (ionChange)="onDateChange($event)" [isDateEnabled]="isWeekday" formControlName="start_date"></ion-datetime>
    </div>


    <ion-list>
      <ion-radio-group style="display: flex; flex-wrap: wrap; justify-content: center;"
        (ionChange)="handleChange($event)">
        @for (time of timeGrid; track $index) {
        <ion-item style="width: 45%; margin-right: auto; ">
          <ion-radio [disabled]="time.free === 'N'" [value]="time.start_time"> {{ time.start_time}}</ion-radio>
        </ion-item>
        }
      </ion-radio-group>
    </ion-list>

    }@else if (currentSection === 3){


    <ion-list class="mt6">
      <ion-item>
        <ion-input labelPlacement="floating" value="Ciccio" formControlName="first_name">
          <div style="justify-content: space-between; display: flex; width: 100%;" slot="label">
            <div>Nome</div><ion-text><ion-icon name="pencil-sharp"></ion-icon></ion-text>
          </div>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="mt6">
      <ion-item>
        <ion-input labelPlacement="floating" value="Pasticcio" formControlName="last_name">
          <div style="justify-content: space-between; display: flex; width: 100%;" slot="label">
            <div>Cognome</div><ion-text><ion-icon name="pencil-sharp"></ion-icon></ion-text>
          </div>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="mt6">
      <ion-item>
        <ion-input labelPlacement="floating" value="3333333333" formControlName="phone">
          <div style="justify-content: space-between; display: flex; width: 100%;" slot="label">
            <div>Telefono</div><ion-text><ion-icon name="pencil-sharp"></ion-icon></ion-text>
          </div>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="mt6">
      <ion-item>
        <ion-input labelPlacement="floating" value="hi@ionic.io" formControlName="email">
          <div style="justify-content: space-between; display: flex; width: 100%;" slot="label">
            <div>Email</div><ion-text><ion-icon name="pencil-sharp"></ion-icon></ion-text>
          </div>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="mt6">
      <ion-item>
        <ion-textarea aria-label="Comments" value="Note aggiuntive" formControlName="notes">Note</ion-textarea>
      </ion-item>
    </ion-list>
    } @else if (currentSection === 4) {

    <!-- Titolo della sezione -->
    <ion-text>
      <h3 class="ion-text-center" style="font-weight: bold;">Riepilogo e Conferma</h3>
    </ion-text>

    <!-- Riepilogo dati prenotazione -->
    <ion-card>
      <ion-card-content>
        <ion-list lines="none">
          <!-- Nome Completo -->
          <ion-item>
            <ion-label>
              <h3>Nome Completo</h3>
              <p>{{ this.prenotazione.full_name }}</p>
            </ion-label>
          </ion-item>

          <!-- Data di Inizio -->
          <ion-item>
            <ion-label>
              <h3>Data prenotazione</h3>
              <p>{{ this.prenotazione.start_date }}</p>
            </ion-label>
          </ion-item>

          <!-- Email -->
          <ion-item>
            <ion-label>
              <h3>Email</h3>
              <p>{{ this.prenotazione.email }}</p>
            </ion-label>
          </ion-item>

          <!-- Telefono -->
          <ion-item>
            <ion-label>
              <h3>Telefono</h3>
              <p>{{ this.prenotazione.phone }}</p>
            </ion-label>
          </ion-item>

          <!-- Note -->
          <ion-item>
            <ion-label>
              <h3>Note</h3>
              <p>{{ this.prenotazione.notes || 'Nessuna nota aggiunta' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Bottone Prenota -->
    <div class="mt6 justify-content-center">
      <ion-button type="submit" (click)="setFullName()" style="margin-bottom: 10px; margin-top: 16px; width: 80%;"
        color="dark">
        PRENOTA
      </ion-button>
    </div>
    }

  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; justify-content: space-around;">
        <ion-button (click)="goBack()" style="margin-bottom: 10px; margin-top: 16px; width: 80%;"
          color="danger">INDIETRO</ion-button>
        <ion-button (click)="showNextSection()" [disabled]="currentSection === 4"
          style="margin-bottom: 10px; margin-top: 16px; width: 80%;" color="danger">AVANTI</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>