<ion-header>
  <ion-toolbar style="padding-bottom: 5px; padding-top: 5px;">
    <ion-title style="text-align: center; margin-top: 10px; ">Prenota il tuo appuntamento</ion-title>
  <div class="segment-container">
    <div class="segment-box" [class.active]="currentSection >= 1">
      <h5 class="section-title" [class.active]="currentSection >= 1" >1.Servizio</h5>
    </div>
    <div class="segment-box" [class.active]="currentSection >= 2">
      <h5 class="section-title" [class.active]="currentSection >= 2">2.Data</h5>
    </div>
    <div class="segment-box" [class.active]="currentSection >= 3">
      <h5 class="section-title" [class.active]="currentSection >= 3">3.Profilo</h5>
    </div>
    <div class="segment-box" [class.active]="currentSection >= 4">
      <h5 class="section-title" [class.active]="currentSection >= 4">4.Riepilogo</h5>
    </div>
  </div>
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form action="" [formGroup]="prenotazioneForm">

    @if(currentSection === 1){
    <app-service-section [formGroup]="prenotazioneForm"></app-service-section>
    }
    @else if (currentSection === 2)
    {
    <app-datatime-section  [formGroup]="prenotazioneForm"></app-datatime-section>

    <!-- TERZA SEZIONE FORM -->
    }@else if(currentSection === 3) {

    <app-personal-data-section [formGroup]="prenotazioneForm"></app-personal-data-section>
    }
    @else if(currentSection === 4){
    <app-confirm [formGroup]="prenotazioneForm"></app-confirm>
    }

  </form>

</ion-content>

<ion-footer  *ngIf="!isKeyboardOpen" class="ion-no-border" translucent="true">
  <ion-toolbar style="padding-top: 10px; padding-bottom: 10px;">
    <ion-title>
      <div style="display: flex; justify-content: space-around; margin-bottom: 10px; margin-top: 16px;">
        <ion-button (click)="goBack()" 
          color="danger" fill="outline" style="width: 40%; text-transform: none; height: auto;">Indietro</ion-button>
        <ion-button (click)="showNextSection()" [disabled]="isInvalidSection()"
           color="danger" style="width: 40%; text-transform: none;">Avanti</ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>