.justify-content-center {
    display: flex;
    justify-content: center;
}

.mt6 {
    margin-top: 60px;
}

::ng-deep .input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    width: 100%;
}

.segment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: -20px;
}

.segment-box {
    width: 30%;
    height: 10px;
    background-color: #d8dade; // Colore predefinito per i segmenti inattivi
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 2px;

}

.segment-box.active {
    background-color: #ad000d; // Colore rosso per il segmento attivo
    margin-right: 2px;

}

.section-title{
    font-size: 14px;
    color: #d8dade;
    padding-bottom: 30px;
    text-align: center;
    margin-right: 2px;
}
.section-title.active{
    margin-right: 2px;
    font-size: 14px;
    color: #ad000d;
    padding-bottom: 30px;
     text-align: center;
}