#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.service-swiper {
  margin-top: 15px;
}

.swiper-slide {
  margin-right: 10px;
}

/* Nascondi l'immagine per la modalità scura per default */
.theme-image-dark {
  display: none;
}

/* Quando la modalità scura è attiva */
@media (prefers-color-scheme: dark) {
  .theme-image {
    display: none;
  }

  .theme-image-dark {
    display: block;
  }
}

/* Sezione Servizi */
.service-swiper {
  margin-top: 15px;
}

/* Card dei servizi */
.service-card {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Icone all'interno delle card */
.service-card ion-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Testo all'interno delle card */
.service-card ion-card-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.service-card p {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

/* Modalità scura */
@media (prefers-color-scheme: dark) {
  .service-card {
    background-color: #333;
    color: #ffffff;
  }

  .service-card ion-card-title, .service-card p {
    color: #ffffff;
  }
}

.button-container {
  width: 95%;
  display: flex;
  justify-content: center;  /* Centratura perfetta */
margin-top: 50px;  
}

.prenota-button {
  width: 80%;               /* Larghezza adeguata */
  height: 50px;             /* Altezza per un aspetto più moderno */
  transition: transform 0.2s ease; /* Animazione di click */
  text-transform: none;

}

